*{ margin: 0; padding: 0; border: 0; box-sizing: border-box; outline: none; }

.main{ max-width: 100%; width: 640px; margin: 0 auto 0 auto; text-align: center; }

.main canvas{ max-width: 100%; background: #eaeaea; border: none; margin: 0; display: block; }